div.img {
  border: 1px solid #ccc;
  float: left;
  margin: 10px;
  width: 200px;
}

div.img img {
  width: 100%;
}

div.img:hover {
  border: 1px solid #777;
}

div.name {
  font-family: "Arial";
  padding: 5px;
  text-align: center;
}

div.role {
  color: gray;
  font-family: "Arial";
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  font-family: "Arial";
  padding: 10px;
}