div.img {
  float: left;
  margin: 10px;
  width: 200px;
}

div.img img {
  width: 100%;
}

div.description {
  text-align: center;
}

h1 {
  font-family: "Arial";
  padding: 10px;
  text-align: center;
}